:root{
    --light: #ececec;
}

body{
    background: #ececec;
    overflow: hidden;
}
.clock-container{
    width: 100%;
    position: absolute;
    top: calc(50vh - 250px);
    margin: 0 auto;
}
.clock{
    margin:  0 auto;
    background: #ececec;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow:  10px 10px 15px #70707025,
    -10px -10px 15px #ffffff50, inset -10px -10px 10px #AEAEC025, inset 10px 10px 10px #fff;
}

.second-hand{
     background: #ececec;
     width: 10px;
     height: 200px;
     position: absolute;
     transform-origin: bottom center;
     left: 50%;
     bottom: 50%;
    transform: translate(-50%, -50%);
     border-radius: 5px;
    box-shadow:  10px 10px 15px #70707020,
    -10px -10px 15px #ffffff50, inset -2px -2px 2px #AEAEC025, inset 2px 2px 2px #fff;
}

.minute-hand{
    background: #ececec;
    width: 10px;
    height: 150px;
    position: absolute;
    transform-origin: bottom center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow:  10px 10px 15px #70707020,
    -10px -10px 15px #ffffff50, inset -2px -2px 2px #AEAEC025, inset 2px 2px 2px #fff;
}

.hour-hand{
    background: #ededed;
    width: 10px;
    height: 100px;
    position: absolute;
    transform-origin: bottom center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow:  10px 10px 15px #70707020,
    -10px -10px 15px #ffffff50, inset -2px -2px 2px #AEAEC025, inset 2px 2px 2px #fff;
}

.circle{
    background: #ececec;
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 15px);
    bottom: calc(50% - 15px);
    border-radius: 50%;
    z-index: 1;
    box-shadow:  5px 5px 7px #70707025,
    -5px -5px 7px #ffffff50, inset -3px -3px 3px #AEAEC025, inset 3px 3px 3px #fff;
}

.text-time-container{
    position: absolute;
    display: flex;
    left: 50%;
    bottom:70%;
    transform: translate(-50%, -70%);
    line-height: 0;
}
.text-time-container p{
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bolder;
    color:#ececec ;
    text-shadow:  5px 5px 10px #70707080,
    -5px -5px 10px #ffffff;
}
.animate{
    animation: rte 1s alternate infinite;
}

@keyframes rte {
    from{
        text-shadow:  5px 5px 10px #70707080, -5px -5px 10px #ffffff;
    }
    to{
        text-shadow: none;
    }
}

/*.second-hand.a{*/
/*    -webkit-animation: rte 1s infinite linear alternate;*/
/*    -o-animation: rte 1s infinite linear alternate;*/
/*    animation: rte 1s infinite linear alternate;*/
/*}*/

/*@keyframes rte {*/
/*    0%{*/
/*        box-shadow:  -3px -3px 5px #707070, 3px 3px 5px #ffffff;*/
/*    }*/
/*    25% {*/
/*        box-shadow:  3px -3px 5px #707070, -3px 3px 5px #ffffff;*/
/*    }*/
/*    50% {*/
/*        box-shadow:  3px -3px 5px #707070, 3px -3px 5px #ffffff;*/
/*    }*/
/*    75% {*/
/*        box-shadow:  3px -3px 5px #707070, 3px -3px 5px #ffffff;*/
/*    }*/
/*    100% {*/
/*        box-shadow:  3px 3px 5px #707070, -3px -3px 5px #ffffff;*/
/*    }*/
/*}*/